<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Metadata about the Application -->
    <display-name>Voting Application</display-name>
    <description>Online Voting System Web Application</description>

    <!-- Servlet Configuration -->

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.voting.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.voting.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Vote Servlet -->
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.voting.VoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>

    <!-- Admin Servlet -->
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.voting.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- Welcome Page Configuration -->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>